# gradle project ignores
.gradle/
!build/XCFrameworks/release/
build/
*.podspec

# Android Studio project ignores
.idea/
*.iml
captures/
out/
local.properties

#swift package
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc